$bg-1:purple;
$bg-2:red;
$bg-3:yellow;
$bg-4:black;
$bg-5:blue;
$bg-6:green;
$bg-7:orange;
$bg-8:gray;
$bg-9:brown;
$bg-10:violet;

$color-1:purple;
$color-2:red;
$color-3:yellow;
$color-4:black;
$color-5:blue;
$color-6:green;
$color-7:orange;
$color-8:gray;
$color-9:brown;
$color-10:violet;